<!--

  ESTA ES PLANTILLA DE CADA TARJETA QUE EQUIVALE A CADA TAREA


-->

<mat-card>
    <!--TITULO DE LA TAREA-->
    <mat-card-title>{{tasks.title}}</mat-card-title>
    <mat-card-content>
      <!--CONTENIDO DE LA TAREA-->
      <p>{{tasks.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <!--BOTON DE COMPLETADA-->
      <mat-checkbox class="example-margin">Completada</mat-checkbox>
      <!--BOTON DE BORRAR TAREA-->
      <button mat-button (click)="delete()">
        <mat-icon bg="red">delete</mat-icon>
      </button>
    </mat-card-actions>
</mat-card>
