.title {
  color:aliceblue;
  font-family: 'Roboto';
  margin-left: 1rem;
}

.spacer {
    flex: 1 1 auto;
  }

  .add-btn {
    color: aliceblue;
    border: 0;
    background-color: #8FA6CB;
    cursor: pointer;
  }

  .add-btn mat-icon {
    font-size: 25px;
  }

  mat-toolbar {
    background-color: #8FA6CB;
  }
