<mat-toolbar>
    <span class="title">MyTasks</span>
    <span class="spacer"></span>
    <!--BOTON SUPERIOR DERECHO DE LA PANTALLA QUE ABRE EL DESPLEGABLE DE AÑADIR TAREA-->
    <button mat-raised-button class="add-btn" [matMenuTriggerFor]="menu" #menuTrigger>
        <mat-icon>expand_more</mat-icon>
    </button>
    <!--MENU DESPLEGABLE DONDE ACTUALMENTE INDICA AÑADIR TAREA-->
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()">
            <mat-icon>add</mat-icon>Add new task
        </button>
    </mat-menu>
</mat-toolbar>
